/*----RESETING-------------------------------*
/ The following two rules are copied from TwentyTwentyOne theme
/**
* Apply generic border-box to all elements.
* See:
* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html {
    /* Apply border-box across the entire page. */
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/*----ELEMENTS-----------------------------*
/* We try to wrap some of them inside .wp-site-blocks to avoid conflicts */

/* Links change their thickness and color only on hover. */
a {
    transition: text-decoration 0.2s ease, color 0.1s linear;
}
a:hover {
    color: var(--wp--preset--color--primary);
    text-decoration-thickness: 3px;
}
a:focus-visible {
    outline-offset: 3px;
    outline-style: solid;
    outline-width: 3px;
}
:not(.has-primary-background-color) a:focus-visible {
    outline-color: var(--wp--preset--color--primary);
}
.has-primary-background-color :not(.has-background-color) a:focus-visible {
    outline-color: currentColor;
}



/* Header and Widget-like links have a cleaner style
 * before hover, as we already expect them to be clickable.
 */
header,
aside,
footer {
    a:not(:hover) {
        text-decoration: none;
    }
    a:hover {
        color: inherit;
    }
}

/* Styling <code>, <kbd> <var> inline elements */
.wp-site-blocks {
    code,
    kbd,
    var {
        background-color: var(--wp--preset--color--background-alt);
        font-size: 0.875em;
        padding: 3px 3px;
    }
}

/* Lists have some special styling in Tainá
 * The way we style theme side is wrapping inside .wp-site-blocks.
 * For editor side, we can rely on the .wp-block-list
 */
.wp-site-blocks ul,
ul.wp-block-list {
    list-style-type: square;
    list-style-position: outside;
}
.wp-site-blocks ul ul ul,
ul.wp-block-list ul ul {
    list-style-type: circle;
}
.wp-site-blocks ul>li::marker,
.wp-site-blocks ul>li ul>li ul>li::marker,
ul.wp-block-list>li::marker,
ul.wp-block-list>li ul>li ul>li::marker {
    color: var(--wp--preset--color--primary);
}
.wp-site-blocks ul>li ul>li::marker,
.wp-site-blocks ul>li ul>li ul>li ul>li::marker,
ul.wp-block-list>li ul>li::marker,
ul.wp-block-list>li ul>li ul>li ul>li::marker {
    color: var(--wp--preset--color--foreground);
}
.wp-site-blocks ol,
ol.wp-block-list {
    list-style-type: none;
    counter-reset: item;
}
.wp-site-blocks ol>li:before,
ol.wp-block-list>li:before {
    color: var(--wp--preset--color--primary);
    font-weight: bold;
    font-family: var(--wp--preset--font-family--headings);
    content: counters(item, ".") ". ";
    counter-increment: item;
}
.wp-site-blocks ol>li ol>li ol>li:before,
ol.wp-block-list>li ol>li ol>li:before {
    font-weight: normal;
}
/* Lastly, a hack to fix linebreaks on the editor side... may exist a better solution */
.wp-block-list li>.block-editor-rich-text__editable {
    display: initial;
}

/* Always change cursor when hovering buttons */
.wp-site-blocks button {
    cursor: pointer;
}