/* Title as Background Style */
.wp-block-cover.is-style-taina-cover-title-as-background .wp-block-cover__background::after {
    content: attr(data-title-content);
    font-family: var(--wp--preset--font-family--headings);
    font-size: 10em;
    line-height: 1.0;
    font-weight: 900;
    white-space: nowrap;
    color: currentColor;
    text-shadow: -1px -1px 0px var(--wp--preset--color--foreground-alt), 1px -1px 0px var(--wp--preset--color--foreground-alt), -1px 1px 0px var(--wp--preset--color--foreground-alt), 1px 1px 0px var(--wp--preset--color--foreground-alt);
}

/* Default background color, if not set, shouldn't be black */
.wp-block-cover-image.has-background-dim:not([class*="-background-color"]):not(.has-background-gradient),
.wp-block-cover-image .has-background-dim:not([class*="-background-color"]):not(.has-background-gradient),
.wp-block-cover.has-background-dim:not([class*="-background-color"]):not(.has-background-gradient),
.wp-block-cover .has-background-dim:not([class*="-background-color"]):not(.has-background-gradient) {
    background-color: var(--wp--preset--color--background);
}