/* Image, gallery and cover blocks figcaptions have an alternative background */
figure figcaption {
    margin-top: 0 !important;
    padding: 10px 36px;
    max-width: 750px;
    background-color: var(--wp--preset--color--background-alt);
    color: var(--wp--preset--color--foreground-alt);
}
figure:not(.alignleft):not(.alignright) figcaption {
    float: right;
}