/* Since block gap attribute is for both axis, we add a bit more on the right side */
.wp-block-navigation {

    .wp-block-navigation-item {
        padding-right: 1.25em;
        border-bottom: 4px solid transparent;
        transition: border 0.2s ease;

        /* Active state of menu items */
        &.current-menu-item.wp-block-navigation-link {
            color: var(--wp--preset--color--primary);
            border-bottom-color: var(--wp--preset--color--primary);
        }
        &:not(.wp-block-navigation-submenu) {

            &:hover {
                border-bottom-color: var(--wp--preset--color--primary);
                a {
                    color: currentColor;
                }   
            }

            .wp-block-navigation-link {
                border-bottom: none;
                border-left: 4px solid transparent;
            }
            .wp-block-navigation-link:hover {
                border-left-color: var(--wp--preset--color--primary);
            }
        }
    }

    /* Submenus have small differences */
    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
        padding-top: 1.125em;     
        border-right: 1px solid var(--wp--preset--color--primary);   
    }
}

/* This is a bit hacky, but while we 
 * can't have padding control to navigation block, we need it...*/
.wp-block-group.is-style-taina-group-align-items_stretch>.wp-block-navigation {
    padding-top: 0.875em;
}