/* Since block gap attribute is for both axis, we add a bit more on the right side */
.wp-block-navigation {
    padding: 1.125em 1.25em;

    .wp-block-navigation-item {
        padding-right: 1.25em;
        border-bottom: 4px solid transparent;
        transition: border 0.2s ease;

        /* Active state of menu items */
        &.current-menu-item.wp-block-navigation-link {
            color: var(--wp--preset--color--primary);
            border-bottom-color: var(--wp--preset--color--primary);
        }
        &:not(.wp-block-navigation-submenu) {

            &:hover {
                border-bottom-color: var(--wp--preset--color--primary);
                a {
                    color: currentColor;
                }   
            }

            .wp-block-navigation-link {
                border-bottom: none;
                border-left: 4px solid transparent;
            }
            .wp-block-navigation-link:hover {
                border-left-color: var(--wp--preset--color--primary);
            }
        }
    }

    /* Submenus have small differences */
    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation__submenu-container {
        padding-top: 1.125em;     
        border-right: 1px solid var(--wp--preset--color--primary);   
    }

    /* Mobile Menu */
    .wp-block-navigation__responsive-container.is-menu-open {
        bottom: unset;
        left: unset;
        padding: 0;

        .wp-block-navigation__responsive-container-close {
            min-width: calc(.75em + .75em + 1.55em);
            min-height: calc(.75em + .75em + 1.55em);
            padding: 1.25em;
            background-color: var(--wp--preset--color--background-alt);
        }
        .wp-block-navigation__responsive-container-content {
            padding: 0;
            background-color: var(--wp--preset--color--primary);

            .wp-block-navigation__container {
                padding: 1.125em;
                margin-top: calc(.75em + .75em + 1.55em + 0.75em);
            }
        }
    }
    &:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__container {
        background-color: var(--wp--preset--color--background-alt);
    }

    .taina-navigation-mobile-label {
        z-index: 1;
        position: absolute;
        margin: 0.25em 0.75em;
        font-size: 1.75em;
        text-transform: uppercase;
        color: var(--wp--preset--color--background);
    }

    @media (min-width: 600px) {
        padding: 0.375em var(--wp--custom--spacing--one-column) 0.375em 0.625em;
    }
    @media (max-width: 599px) {
        background-color: var(--wp--preset--color--primary);
        color: var(--wp--preset--color--background);
    }
}

/* This is a bit hacky, but while we 
 * can't have padding control to navigation block, we need it...*/
@media (min-width: 600px) {
    .wp-block-group.is-style-taina-group-align-items_stretch>.wp-block-navigation {
        padding-top: 0.875em;
    }
}
@media (max-width: 599px) {
    .wp-block-group.is-style-taina-group-align-items_stretch>.wp-block-navigation {
        margin-right: 0.75em;
    }
}