.wp-block-post-comments-form {
    font-size: 0.875em;

    input:not([type="submit"]):not([type="checkbox"]),
    textarea {
        border: none;
        padding: .5em calc(.667em + 2px);
    }
    label {
        margin: 10px calc(.667em + 2px);
    }
    .form-submit {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.75em;
    }
}
