/* Detached style for heading and paragraph block */
h1.is-style-taina-detached,
h2.is-style-taina-detached,
h3.is-style-taina-detached,
h4.is-style-taina-detached,
h5.is-style-taina-detached,
h6.is-style-taina-detached,
p.is-style-taina-detached {
    position: relative;
    left: calc(-1 * var(--wp--custom--spacing--one-column));
    padding-left: 19px;
}
h2.is-style-taina-detached:not(.has-text-color),
h3.is-style-taina-detached:not(.has-text-color),
h4.is-style-taina-detached:not(.has-text-color) {
    color: var(--wp--preset--color--primary);
}
h1.is-style-taina-detached::before,
h2.is-style-taina-detached::before,
h3.is-style-taina-detached::before,
h4.is-style-taina-detached::before {
    height: 15px;
    width: 30px;
    position: absolute;
    border-left-color: var(--wp--preset--color--foreground);
    border-bottom-color: var(--wp--preset--color--foreground);
    border-left-style: solid;
    border-bottom-style: solid;
    left: 0;
    content: '';
}
h2.is-style-taina-detached::before {
    border-left-width: 4px;
    border-bottom-width: 4px;
    bottom: -4px;
}
h3.is-style-taina-detached::before,
h4.is-style-taina-detached::before {
    border-left-width: 2px;
    border-bottom-width: 2px;
    bottom: -2px;
}

/* Quote block with 'quoted' style */
.wp-block-quote.is-style-taina-quoted {
    padding-left: var(--wp--custom--spacing--one-column);
    padding-right: var(--wp--custom--spacing--one-column);
    border: none;
    position: relative;
    text-align: center;
    margin-block-start: calc(var( --wp--style--block-gap ) * 2);
}
.wp-block-quote.is-style-taina-quoted::after,
.wp-block-quote.is-style-taina-quoted::before {
    font-size: 220px;
    line-height: 100px;
    font-family: var(--wp--preset--font-family--headings);
    font-style: italic;
    font-weight: 900;
    position: absolute;
    color: var(--wp--preset--color--background);
}
.wp-block-quote.is-style-taina-quoted::before {
    content: '“';
    left: -100px;
    top: 0px;
    bottom: 50%;
    text-shadow: -1px -1px 0px var(--wp--preset--color--primary), 1px -1px 0px var(--wp--preset--color--primary), -1px 1px 0px var(--wp--preset--color--primary), 1px 1px 0px var(--wp--preset--color--primary);
}
.wp-block-quote.is-style-taina-quoted::after {
    content: '”';
    right: -100px;
    bottom: 0px;
    top: 50%;
    text-shadow: -1px -1px 0px var(--wp--preset--color--background-alt), 1px -1px 0px var(--wp--preset--color--background-alt), -1px 1px 0px var(--wp--preset--color--background-alt), 1px 1px 0px var(--wp--preset--color--background-alt);
}
.wp-block-quote.is-style-taina-quoted cite {
    font-family: var(--wp--preset--font-family--headings);
    font-style: italic;
    font-weight: 600;
    color: var(--wp--preset--color--primary);
}
@media screen and (max-width: 1024px) {
    .wp-block-quote.is-style-taina-quoted::after,
    .wp-block-quote.is-style-taina-quoted::before {
        font-size: 160px;
        line-height: 60px;
    }
    .wp-block-quote.is-style-taina-quoted::before {
        left: -50px;
        top: calc(var( --wp--style--block-gap ) * -1);
        bottom: 0%;
    }
    .wp-block-quote.is-style-taina-quoted::after {
        right: -50px;
        top: 100%;
        bottom: calc(var( --wp--style--block-gap ) * -1);
    }
}

/* Pullquote block has some particularities
 * that are not possible to set in themes.json
 * so far... */
.wp-block-pullquote:not(.alignfull):not(.alignwide) {
    max-width: calc(750px - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote.alignwide {
    max-width: calc(1100px - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote.alignfull {
    max-width: calc(100% - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote {
    border-left-style: solid;
    border-right-style: solid;
}
.wp-block-pullquote blockquote {
    margin-left: -42px;
    margin-right: -42px;
    padding-left: var(--wp--custom--spacing--one-column);
    padding-right: var(--wp--custom--spacing--one-column);
}
.wp-block-pullquote:not(.has-background) blockquote {
    background-color: var(--wp--preset--color--background);
}
.wp-block-pullquote.has-background blockquote {
    background-color: inherit;
}
.wp-block-pullquote blockquote p {
    margin-top: 0px;
    font-family: var(--wp--preset--font-family--headings);
}
.wp-block-pullquote:not(.has-text-color) blockquote p {
    color: var(--wp--preset--color--primary);
}
.wp-block-pullquote blockquote cite {
    text-transform: none;
}