<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group">
  <!-- wp:post-title {"level":1,"align":"wide"} /-->

  <!-- wp:group {"align":"wide","textColor":"primary","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"tiny"} -->
  <div
    class="wp-block-group alignwide has-primary-color has-text-color has-tiny-font-size"
  >
    <!-- wp:post-date /-->

    <!-- wp:post-author-name /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:post-content {"layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"author-section","tagName":"section"} /-->

<!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
<div class="wp-block-group">
  <!-- wp:heading {"level":3} -->
  <h3>Categorias:</h3>
  <!-- /wp:heading -->

  <!-- wp:post-terms {"term":"category","style":{"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"backgroundColor":"background-alt","textColor":"foreground"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"comments-section","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer-full","tagName":"footer"} /-->
