/* Image, gallery and cover blocks figcaptions have an alternative background */
.wp-block-image figcaption {
    margin: 0;
    padding: 10px 36px;
    max-width: 750px;
    background-color: var(--wp--preset--color--background-alt);
    float: right;
}