.wp-block-post-date::before {
    background-image: url('../../icons/calendar.svg');
    display: inline-block;
    content: '';
    width: 1.25em;
    height: 1.25em;
    background-size: cover;
    position: absolute;
    margin-left: -1.5em;
}