.wp-block-post-comments-form {
    font-size: 0.875em;
}
.wp-block-post-comments-form input:not([type="submit"]):not([type="checkbox"]),
.wp-block-post-comments-form textarea {
    border: none;
    padding: .5em calc(.667em + 2px);
}
.wp-block-post-comments-form label {
    margin: 10px calc(.667em + 2px);
}
.wp-block-post-comments-form .form-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.75em;
}