
/* Pullquote block has some particularities
 * that are not possible to set in themes.json
 * so far... */
 .wp-block-pullquote:not(.alignfull):not(.alignwide) {
    max-width: calc(750px - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote.alignwide {
    max-width: calc(1100px - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote.alignfull {
    max-width: calc(100% - (2 * var(--wp--custom--spacing--one-column)));
}
.wp-block-pullquote {
    border-left-style: solid;
    border-right-style: solid;
}
.wp-block-pullquote blockquote {
    margin-left: -42px;
    margin-right: -42px;
    padding-left: var(--wp--custom--spacing--one-column);
    padding-right: var(--wp--custom--spacing--one-column);
}
.wp-block-pullquote:not(.has-background) blockquote {
    background-color: var(--wp--preset--color--background);
}
.wp-block-pullquote.has-background blockquote {
    background-color: inherit;
}
.wp-block-pullquote blockquote p {
    margin-top: 0px;
    font-family: var(--wp--preset--font-family--headings);
}
.wp-block-pullquote:not(.has-text-color) blockquote p {
    color: var(--wp--preset--color--primary);
}
.wp-block-pullquote blockquote cite {
    text-transform: none;
}
@media screen and (max-width: 1024px) {
    .wp-block-pullquote blockquote {
        padding-left: calc(3 * var(--wp--custom--spacing--one-column));
        padding-right: calc(3 * var(--wp--custom--spacing--one-column));
    }
}